*.o
*.so
*.orig
*.fw
*.dsc
*.elf
*.bin
*.a
fw.map
*~
*.dis
a.out
*.cmake
*.conf
*.conf.cmd
*old
.config
CMakeCache.txt
include/generated
CMakeFiles/
toolchain
toolchain/src
toolchain/build
toolchain/inst
Makefile
include/autoconf.h
